MONGO_URL=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
DB_NAME=event
SECRET_KEY=change-this-secret-key
ADMIN_EMAIL=admin@test.com
ADMIN_PASSWORD=admin123
REGISTRAR_EMAIL=registrar@test.com
REGISTRAR_PASSWORD=registrar123
